
<!DOCTYPE html>

<html lang="az">
{% load static %}
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Hava Məlumatı</title>
    <link rel="stylesheet" type="text/css" href="{% static 'css/styles.css' %}">
</head>
<body>
    <h1>Hava Məlumatları</h1>


    <form method="post">
        {% csrf_token %}
        <input type="text" name="city" placeholder="Şəhər adı daxil edin" required>
        <button type="submit">Hava məlumatlarını al</button>
    </form>

    {% if weather_data %}
    <div>
        <h2>{{ weather_data.city_name }}</h2>
        <p>Temperatur: {{ weather_data.temperature }}°C</p>
        <p>Rütubət: {{ weather_data.humidity }}%</p>
        <p>Təsviri: {{ weather_data.description }}</p>
    </div>
{% elif error_message %}
    <p style="color: red;">{{ error_message }}</p>
{% endif %}

</body>
</html>
